:root {
  --nord-bg: #2E3440;
  --nord-fg: #D8DEE9;
  --nord-dark: #3B4252;
  --nord-accent: #81A1C1;
  --nord-green: #A3BE8C;
  --nord-red: #BF616A;

  font-family: "Fira Code", monospace;
  color-scheme: dark;
  background-color: var(--nord-bg);
  color: var(--nord-fg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0 15px; /* Adding padding to the body to prevent elements from sticking to the edges */
}

button {
  background: none;
  border: 1px solid var(--nord-accent);
  color: var(--nord-fg);
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background-color: var(--nord-accent);
  color: var(--nord-bg);
}

input {
  background: var(--nord-dark);
  border: none;
  color: var(--nord-fg);
  padding: 5px;
  font-family: inherit;
  font-size: 1rem;
}

input:focus {
  outline: 1px solid var(--nord-accent);
}
